@media screen and (max-width:1024px) {
    #d3{
        display:none;
    }
    #d2{
        display: flex;
    }
    .img{
        margin: auto;
    }
    .bt{
        margin: auto;
        gap:50px;
    }
    .container1{
        width: 90%;
    }
    .section3{
        width: 100%;
    }
    .container2{
        width: 94%;
    }
    .section4{
        display: flex;
        flex-direction: column;
    }
     .y2006, .y2007, .y2008, .y2009, .y2010, .y2011, .y2012, .y2013, .y2014, .y2015, .y2016, .y2017, .y2018, .y2019, .y2010, .y2021, .y2020, .y2022, .y2023, .y2024{
        height: 30px;
        width: 600px;
        overflow: hidden;
    }
 .container3{
         height: 400px;
         width: 400px;
    }
    

}
@media screen and (max-width:820px){
    .nav-con{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-right: 0px;
        margin-top: 0px;
        gap: 20px;
    }
    .bt{
      
        margin-top: 0px;
       display: grid;
       justify-content: center;
    }
    
    #d2{
        display:flex;
    }
    #d3{
        display: none;
    }
    .data2{
        display: none;
    }
    #d3{
        display: flex;
    }
    .img{
        margin: auto;
        height: 300px;
        width: 300px;
        margin-top: 0px;
    }
    .section4{
        height: auto;
        width: 100%;
        overflow-x: hidden;
        flex-direction: column;
    }
    .name{
        margin: auto;
    }
    .y2006, .y2007, .y2008, .y2009, .y2010, .y2011, .y2012, .y2013, .y2014, .y2015, .y2016, .y2017, .y2018, .y2019, .y2010, .y2021, .y2020, .y2022, .y2023, .y2024{
        height: 30px;
        width: 500px;
        overflow: hidden;
    }
    .container3{
         height: 400px;
         width: 400px;
    }
}
@media screen and (max-width:450px){

    .data2{
        display: none;
    }
    #d3{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }
    .data{
        font-size: 40px;
    }
    .section2{
        flex-direction: column;
        margin-top: 30px;
    }
    .left{
        width: auto;
        margin: auto;
        padding: initial;
    }
    .right1{
        width:auto
    }
    .img{
        height: 250px;
        width: 250px;
    }
    .bt{
        display: flex;
        margin-top: 30px;
        gap: 15px;
    }
    .container1{
        height: auto;
        width: 90%;
    }
    .section3{
        width: auto;
        height: auto;
    }
    .pass{
        font-size: 23px;
        justify-content: center;
    }
    .box1{
        display: none;
    }
    .box2{
        display: none;
    }
    .section4{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        overflow-x: hidden;
    }
    .container2{
        height: auto;
        width: 100%;
        padding: 15px;
    }
    .about-right{
        height: 200px;
        width: 200px;
    }
    .name{
      font-size: 20px;
      margin: auto;
    }
     .y2006, .y2007, .y2008, .y2009, .y2010, .y2011, .y2012, .y2013, .y2014, .y2015, .y2016, .y2017, .y2018, .y2019, .y2010, .y2021, .y2020, .y2022, .y2023, .y2024{
        height: 15px;
        width: 300px;
        overflow: hidden;
    }
    .container3{
        height: 315px;
        width: 400px;
    }
    
}